body {
    background-color: #111D4A;
    color: white;
    font-family:'Fira Code', monospace;
    padding: 3%;
} 
h1 {
    text-align: center;

}
ul {
    font-weight: 700;
    line-height: 40px;
    font-style: italic; 
    }
h2 {
 text-decoration: underline;
 position: absolute;
 top: 10px;
 left: 350px;
}
.imagem {
    border-radius: 50px;
    float: left;
    height: 280px;
    padding: 10px;
    background-color: black;
}
.image-container{
    height: 350px;
    position: relative;
    
}
ul li:nth-child(odd){
    background-color: dimgrey;
}